.popupContainer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popupWindow{
    height: 70%;
    width: 60%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
}