#loginButton {
    font-family: 'Poppins', sans-serif;
    background-color: #fb8500;
    border-color: #14213d;
    color: white;
    margin-right: 5px;
    border-radius: 75px;
    min-height: 40px;
    min-width: 75px;
    aspect-ratio: 16/9;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

#loginButton:hover{
    filter: brightness(85%);
}

#loginButton:active{
    transform: scale(0.97);
    border-style: outset;
}

@media (min-width: 1000px){
    #loginButton{
        margin-right: 10px
    }
}

@media (max-width: 700px){
    #loginButton{
        scale: 0.8;
    }
}

@media (max-width: 500px){
    #loginButton{
        scale: 0.7;
    }
}