#loginButton {
    background-color: #fb8500;
    border-color: #03045e;
    color: white;
    margin-right: 5px;
    border-radius: 75px;
    min-height: 40px;
    min-width: 75px;
    aspect-ratio: 16/9;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

#loginButton:hover{
    filter: brightness(85%);
}

#loginButton:active{
    transform: scale(0.97);
    border-style: outset;
}

@media (min-width: 1000px){
    #loginButton{
        margin-right: 10px
    }
}