#signUpButton {
    font-family: 'Poppins', sans-serif;
    background-color: #14213d;
    border: 2px solid #fb8500;
    color: white;
    margin-left: 5px;
    margin-right: 3vw;
    border-radius: 75px;
    min-height: 40px;
    min-width: 75px;
    aspect-ratio: 16/9;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

#signUpButton:hover{
    filter: brightness(85%);
}

#signUpButton:active{
    transform: scale(0.97);
    border-style: outset;
    box-shadow: none;
}

@media (min-width: 1000px){
    #signUpButton{
        margin-left: 10px
    }
}

@media (max-width: 700px){
    #signUpButton{
        scale: 0.8;
    }
}

@media (max-width: 500px){
    #signUpButton{
        scale: 0.7;
    }
}