#loginButton {
    background-color: #fb8500;
    border-color: #03045e;
    color: white;
    margin-right: 5px;
    border-radius: 75px;
    min-height: 40px;
    min-width: 75px;
    cursor: pointer;
    transition: all 0.3s;
}

#loginButton:hover{
    transform: scale(1.03);
    filter: brightness(85%);
}

#loginButton:active{
    transform: scale(0.97);
    border-style: outset;
}